<!-- <div class="example-container">
  <h2>Available numbers</h2>

  <div id="all" cdkDropList [cdkDropListData]="all" cdkDropListConnectedTo="even" class="example-list"
    (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
    @for (number of all; track number) {
    <div class="example-box" [cdkDragData]="number" cdkDrag>{{number}}</div>
    }
  </div>
</div>

<div class="example-container">
  <h2>Even numbers</h2>

  <div id="even" cdkDropList [cdkDropListData]="even" cdkDropListConnectedTo="all" class="example-list"
    (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate">
    @for (number of even; track number) {
    <div class="example-box" cdkDrag [cdkDragData]="number">{{number}}</div>
    }
  </div>
</div> -->

<div class="board">
  @for (row of board; track $index; let rowIndex = $index; let lastRow = $last) {
  @for (rowItem of row; track $index) {
  <div class="board__item" [ngClass]="{'board__item-black': rowIndex % 2 ? $even : $odd, available: rowItem.available}"
    (dragover)="dragOver($event)" (drop)="dropp($event, rowItem, rowIndex, $index)">
    @if($first) {
    <div class="row-number">
      {{8-rowIndex}}
    </div>
    }
    @if(lastRow) {
    <div class="column">
      {{columns[$index]}}
    </div>
    }
    @if(rowItem?.figure) {
    <!-- [draggable]="$even" -->


    <img [id]="rowIndex + '' + $index" (dragstart)="dragStart($event, rowItem)"
      [src]="'/wikipedia/'+ rowItem.figure.side + '-' + rowItem.figure.name + '.png'" alt="" srcset=""
      [ngStyle]="{cursor: $odd ? 'not-allowed': 'pointer'}">
    }
  </div>
  }
  }
</div>
